<div class="jumbotron text-center">
	<h1>About Coffee Shop  </h1>
	<p> Ad Presentation</p>
		<html lang="en">
		<head>
			<meta charset="UTF-8">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">


		</head>
		<body>
            <hr>

			<div class="row">
				<div class="col-md-offset-3 col-md-6">
			<div class="embed-responsive embed-responsive-4by3">

				<iframe width="560" height="315" src="https://www.youtube.com/embed/TG1A_sfqikU" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</body>
		</html>