

<div class="jumbotron">
	<div class="container-fluid">
		<h1>Contact Us And Learn Some Coffee Shops</h1>
		<p>{{message}}</p>
		<p><a href="https://www.google.ie/webhp?sourceid=chrome-instant&rlz=1C5CHFA_enIE665IE665&ion=1&espv=2&ie=UTF-8#q=coffee&rflfq=1&rlha=0&rllag=52252419,-7111718,956&tbm=lcl&tbs=lf:1,lf_ui:1&rlfi=hd:;si:" target="_blank" class="btn btn-success btn-lg">Get started today</a></p>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4">
			<h2>Coffee Histroy</h2>
			<p>According to a coffee history legend, an Arabian shepherd named Kaldi found his goats dancing joyously around a dark green leafed shrub with bright red cherries in the southern tip of the Arabian Peninsula.  ed cherries on the shrub that were causing the peculiar euphoria and after trying the cherries himself, he learned of their powerful effect. </p>
			<p><a href="http://www.coffeeresearch.org/coffee/history.htm" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
		</div>
		<div class="col-xs-4">
			<h2>Coffee Manufacture</h2>
			<p>Coffee is a beverage made by grinding roasted coffee beans and allowing hot water to flow through them. Dark, flavorful, and aromatic, the resulting liquid is usually served hot, when its full flavor can best be appreciated. Coffee is served internationally—with over one third of the world's population consuming it in some form.</p>
			<p><a href="http://www.madehow.com/Volume-1/Coffee.html" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
		</div>
		<div class="col-xs-4">
			<h2>Development</h2>
			<p>Coffee is the single most important cash crop at origin.  While coffee farmers have all too often become overly dependent upon coffee, the affect that coffee has on the local economy and on family income is critical. With the onset of la roya and the continuous threat of other debilitating diseases that have the potential to devastate coffee farms.</p>
			<p><a href="http://thecoffeetrust.org/guatemala/coffee-development/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
		</div>
	</div>
</div>
</body>
</html>





			<div class="row">
				<div class="col-md-8 col-md-offset-3">
					<p>
						<img src="./images/7777.jpeg">


				</div>

			</div>
</div>
