<!DOCTYPE html>
<html lang="en">
<head>

	<style type="text/css">
		.bs-example{
			margin: 20px;
		}
	</style>
</head>
<body>
<div class="bs-example">
		<div class="carousel-inner">
			<div class="active item">
				<img src="../images/0000.jpg" >
				<div class="carousel-caption">
					<h3>{{ message }}</h3>


						<p>
							<i>Time for a change</i>
						<p>Out with Boring Abamo.</p>
						<p>Giving has never been so easy.</p>
						<p>Just click <a href ="#add">here</a> to go to the</p>
						<p>Coffemate page and empty your wallet</p>

				</div>
			</div>

		</div>
	</div>
</body>
</html>