<div class="jumbotron text-center">
    <h1>Sign up</h1>

    <p>{{ message }}</p>

    <div ng-controller="registerController">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form ng-submit="addUser()"
                      style="margin-top:30px;">
                    <br/>
                    <label>Email</label>
                    <div class="form-group" align="center">
                        <input type="String" ng-model="formData.email"  placeholder="Your email"  class="form-control" ng-style="{'width': 300 + 'px'}">
                        </input>
                    </div>
                    <label>Your name</label>
                    <div class="form-group" align="center">
                        <input type="String" ng-model="formData.name"  placeholder="Your name"  class="form-control" ng-style="{'width': 300 + 'px'}">
                        </input>
                        <br/>
                        <label>Password</label>
                        <div class="form-group" align="center">
                            <input type="Password" ng-model="formData.password"  placeholder="Your password"  class="form-control" ng-style="{'width': 300 + 'px'}">
                            </input>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </form>

            </div>
        </div>
    </div>

